<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dtool">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Dtool">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- ContentProvider for cross-app database access -->
        <provider
            android:name=".provider.DatabaseContentProvider"
            android:authorities="dev.huidou.db.provider"
            android:enabled="true"
            android:exported="true" />
        
        <!-- Universal Database Provider for full database management -->
        <provider
            android:name=".provider.UniversalDatabaseProvider"
            android:authorities="dev.huidou.db.universal"
            android:enabled="true"
            android:exported="true" />
        
        <!-- AIDL Database Service for cross-app communication -->
        <service
            android:name=".service.DatabaseService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.huidou.db.action.BIND_DATABASE_SERVICE" />
            </intent-filter>
        </service>
    </application>

</manifest>