# 默认忽略的文件
/shelf/
/workspace.xml
/modules
gradle.xml
misc.xml
runConfigurations.xml
AndroidProjectSystem.xml
Project.xml
codeStyles
MarsCodeWorkspaceAppSettings.xml
/inspectionProfiles/
deviceManager.xml
deploymentTargetSelector.xml
compiler.xml
vcs.xml
markdown.xml
